<!-- FOOTER -->
<div class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="row">
        <div class="col-12 col-md-3">
          <h3>Customer Resources</h3>
          <ul class="list-unstyled">
            <li>
              <a href="user-account_orders.html">Check On My Order</a>
            </li>
            <li>
              <a href="buy_category.html">Advanced Search</a>
            </li>
            <li>
              <a href="checkout_cart-detail.html">My Cart</a>
            </li>
            <li>
              <a href="checkout_sequence.html">Checkout</a>
            </li>
            <li>
              <a href="user-account_wishlist.html">Wishlist</a>
            </li>
            <li>
              <a href="user-account_reviews.html">Reviews</a>
            </li>
            <li>
              <a href="user-account_profile.html">My Account</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <h3>Seller Resources</h3>
          <ul class="list-unstyled">
            <li>
              <a href="sign-up.html">Join the Marketplace Network</a>
            </li>
            <li>
              <a href="marketplace_dashboard.html">My Seller Dashboard</a>
            </li>
            <li>
              <a href="marketplace_reviews.html">Reviews</a>
            </li>
            <li>
              <a href="marketplace_transactions.html">Transactions</a>
            </li>
              <li>
                  <a href="marketplace_profile.html">Marketplace Profile</a>
              </li>
              <li>
                  <a href="marketplace_products.html">Marketplace Products</a>
              </li>
              <li>
                  <a hr
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <h3>Who we are</h3>
          <ul class="list-unstyled">
            <li>
              <a href="buy_product-detail.html">The Marketplace Story</a>
            </li>
            <li>
              <a href="buy_product-detail.html">The Marketplace Promise</a>
            </li>
            <li>
              <a href="buy_product-detail.html">Marketplace Careers</a>
            </li>
            <li>
              <a href="buy_product-detail.html">Our Values</a>
            </li>
            <li>
              <a href="buy_product-detail.html">Ambassador Program</a>
            </li>
            <li>
              <a href="buy_product-detail.html">Customer Reviews</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-3 text-center text-md-right">
          <div class="footer__links float-md-right">
            <a href="buy_product-detail.html">
              <i class="far fa-question-circle"></i>
              <h4>FAQs</h4>
            </a>
            <a href="404.html">
              <i class="far fa-envelope"></i>
              <h4>Email</h4>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="row">
        <div class="col-md-5 col-lg-4 order-2 order-md-1">
          <ul class="list-unstyled">
            <li>
              <a href="buy_product-detail.html">Privacy policy</a>
            </li>
            <li>
              <a href="buy_product-detail.html">Terms and conditions</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 col-lg-4 text-center order-1 order-md-2">
          <a href="#" class="brand-logo brand-logo--white"></a>
        </div>
        <div class="col-md-5 col-lg-4 text-center text-md-right order-3">
          <p>©2025 Marketplace. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END FOOTER -->