<!-- PRODUCT DETAIL SECTION -->
<div class="product-detail">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-5 product-detail__intro">
        <div class="product-detail__images">
          <div class="large">
            <img src="../images/product-large.jpg" alt="Product image">
          </div>
          <ul class="thumbs list-unstyled">
            <li class="thumbs__item">
              <a href="buy_product-detail.html">
                <img src="../images/product-large.jpg" alt="Product image">
              </a>
            </li>
            <li class="thumbs__item">
              <a href="buy_product-detail.html">
                <img src="../images/product-large.jpg" alt="Product image">
              </a>
            </li>
          </ul>
        </div>
        <div class="product-detail__description">
          <div class="group">
            <h5>Product information & Specs</h5>
            <p></p>
          </div>
          <div class="group">
            <h5>Details</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span>UPC</span>
                <span>023614442318</span>
              </li>
              <li class="list-group-item">
                <span>sIZE</span>
                <span>L</span>
              </li>
              <li class="list-group-item">
                <span>Action</span>
                <span>SINGLE ACTION</span>
              </li>
              <li class="list-group-item">
                <span>Capacity</span>
                <span>10+1 ROUNDS</span>
              </li>
              <li class="list-group-item">
                <span>Length</span>
                <span>4.25</span>
              </li>
              <li class="list-group-item">
                <span>Weight</span>
                <span>0.9</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-7 product-detail__info">
        <h2 class="h3">Jeans 1978-22 BLACK LABEL</h2>
        <div class="meta">
          <span class="badge badge-info">In stock</span>
          <span class="text-success h4">New</span>
        </div>
        <div class="price">
          <span class="h2">$599.99</span>
          <div class="price__list">
            <span class="before">Before $ 799.99</span>
            <span class="after">You save $ 200</span>
          </div>
        </div>
        <div class="action">
          <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cartModal">
            <i class="fas fa-cart-plus"></i>
            <span>Add to cart</span>
          </a>
          <a href="#" class="btn btn-link">
            <i class="far fa-heart"></i>
          </a>
          <a href="#" class="btn btn-link">
            <i class="fas fa-compress-alt"></i>
          </a>
        </div>
        <div class="product-thumb">
          <div class="product-thumb__image">
            <img src="../images/product-thumb-empty.jpg" alt="Product image">
            <span class="preferred"></span>
          </div>
          <div class="product-thumb__info">
            <a href="#" class="name">Products For All</a>
            <p>5.7 mi.</p>
            <div class="rate">
              <span class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </span>
              <span>4.1 (39 ratings)</span>
            </div>
            <p>Not available in Alaska, Arkansas and Connecticut</p>
          </div>
        </div>
        <div class="description">
          <p></p>
        </div>

        <div class="product-thumb__list-head">
          <b>Sold by other sellers</b>
          <span>Preferred Delivery Location</span>
          <span class="preferred"></span>
        </div>
        <div class="list-group list-group-flush product-thumb__list">
          <div class="list-group-item product-thumb__list-item">
            <div class="row">
              <div class="col-md-6 product-thumb">
                <div class="product-thumb__image">
                  <img src="../images/product-thumb-empty.jpg" alt="Product image">
                  <span class="preferred"></span>
                </div>
                <div class="product-thumb__info">
                  <a href="#" class="name">Joe’s Products</a>
                  <p>24.3 mi.</p>
                  <div class="rate">
                    <span class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </span>
                    <span>0.0 (0 ratings)</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 labels">
                <small class="text-success">NEW</small>
                <span class="h3">$589.99</span>
              </div>
              <div class="col-md-3 text-md-right">
                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cartModal">
                  <i class="fas fa-cart-plus"></i>
                  <span>Add to cart</span>
                </a>
              </div>
            </div>
          </div>
          <div class="list-group-item product-thumb__list-item">
            <div class="row">
              <div class="product-thumb col-md-6">
                <div class="product-thumb__image">
                  <img src="../images/product-thumb-empty.jpg" alt="Product image">
                  <span class="preferred"></span>
                </div>
                <div class="product-thumb__info">
                  <a href="#" class="name">Seller 2</a>
                  <p>35.2 mi.</p>
                  <div class="rate">
                    <span class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </span>
                    <span>0.0 (0 ratings)</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 labels">
                <small class="text-success">NEW</small>
                <span class="h3">$615.30</span>
              </div>
              <div class="col-md-3 text-md-right">
                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cartModal">
                  <i class="fas fa-cart-plus"></i>
                  <span>Add to cart</span>
                </a>
              </div>
            </div>
          </div>
          <div class="list-group-item product-thumb__list-item">
            <div class="row">
              <div class="product-thumb col-md-6">
                <div class="product-thumb__image">
                  <img src="../images/product-thumb-empty.jpg" alt="Product image">
                </div>
                <div class="product-thumb__info">
                  <a href="#" class="name">Products Outlet</a>
                  <p>45.1 mi.</p>
                  <div class="rate">
                    <span class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </span>
                    <span>0.0 (0 ratings)</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 labels">
                <small class="text-success">NEW</small>
                <span class="h3">$630.00</span>
              </div>
              <div class="col-md-3 text-md-right">
                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cartModal">
                  <i class="fas fa-cart-plus"></i>
                  <span>Add to cart</span>
                </a>
              </div>
            </div>
          </div>
          <div class="list-group-item product-thumb__list-item">
            <div class="row">
              <div class="product-thumb col-md-6">
                <div class="product-thumb__image">
                  <img src="../images/product-thumb-empty.jpg" alt="Product image">
                </div>
                <div class="product-thumb__info">
                  <a href="#" class="name">Products Outlet</a>
                  <p>45.1 mi.</p>
                  <div class="rate">
                    <span class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </span>
                    <span>0.0 (0 ratings)</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 labels">
                <small class="text-success">NEW</small>
                <span class="h3">$630.00</span>
              </div>
              <div class="col-md-3 text-md-right">
                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cartModal">
                  <i class="fas fa-cart-plus"></i>
                  <span>Add to cart</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <a href="#" class="btn btn-outline-primary float-right">See all</a>
      </div>
    </div>
  </div>
</div>
<!-- END PRODUCT DETAIL SECTION -->