<!-- CHECKOUT NAVBAR -->
<div class="checkout__navbar">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col">
        <a href="index.html">
          <img src="../images/colored-log.png" alt="Marketplace">
        </a>
      </div>
      <div class="col-auto checkout__navbar-links">
        <a href="call:54848448484" class="h3">
          <i class="fab fa-whatsapp"></i>
          <span>(312) 202 6997</span>
        </a>
        <a href="mailto:service@marketplace.com" class="h3">
          <i class="far fa-envelope"></i>
          <span>service@marketplace.com</span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- END CHECKOUT NAVBAR -->